<!DOCTYPE html>
<!-- 表示应用thymeleaf模板 -->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html lang="Zh-cn">
  <head>
    <meta charset="utf-8"/>

    <title>欢迎登陆XXX管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
    <link href="../static/css/login.css" rel="stylesheet">
    <!--<link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>-->
    <!-- jquery -->
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <!-- Bootstrap core JS-->
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/vue.js"></script>
  </head>
  <style>
    .form-login {
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }
  </style>
  <body>

    <div class="container " id="app">
      <!-- 阻止submit重载页面 -->
      <form class="form-login" @submit.prevent="">
        <h2 class="h2">欢迎登陆管理系统</h2>
        <p>{{errorMessage}}</p>
        <div class="form-group">
          <label for="name">用户名</label>
          <input v-model="user.name" type="text" class="form-control" id="name" placeholder="用户名">
        </div>
        <div class="form-group">
          <label for="password">密码</label>
          <input v-model="user.password" type="password" class="form-control" id="password" placeholder="密码">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" > Remember Me
          </label>
        </div>
        <button @click="login" type="submit" class="btn btn-primary">登陆</button>
      </form>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
<script>

  const RESULT_CODE = {SUCCESS:200,FAIL:400};

    var app = new Vue({
        el:"#app",
        data:{
            errorMessage:"",
            user:{
                name:"",
                password:""
            }
        },
        methods:{
            login:function (e) {
                $.post("/user/login",
                    {name:this.user.name, password:this.user.password},
                    function (result) {
                        if (result.code === RESULT_CODE.SUCCESS) {
                            console.log(result.data)
                        }else if (result.code === RESULT_CODE.FAIL) {
                            console.log("400");
                            app.errorMessage = result.message
                        }else {
                            app.errorMessage = "未知异常"
                        }
                    },"json")
            }
        },
        computed: {

        },
        watch: {

        }
    })
</script>
</html>
